# SMTP email settings for local development and deployment
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=joelmusic1999@gmail.com
SMTP_PASS=ddtlxszdzqlsodif
FROM_EMAIL=joelmusic1999@gmail.com
#EMAIL_TO=topfastrentacar@gmail.com
EMAIL_TO=jirejoje@gmail.com
